<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/saldo"></ion-back-button>
		</ion-buttons>
    <ion-title>Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>No </ion-label>
      <ion-label>Vence </ion-label>  
    </ion-item>
    <ion-item button *ngFor="let item of tarjetas" [routerLink]="['/formulario-recargar-tarjeta-saldo']">
      <ion-label>{{item.numero}}</ion-label>
      <ion-label>{{item.fechaVencimiento.month + ' ' + item.fechaVencimiento.year}}</ion-label>  
    </ion-item>
  </ion-list>
</ion-content>
