<ion-header>
	<ion-toolbar>
		<!--<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/inicio"></ion-back-button>
		</ion-buttons>-->
		<ion-title>Realizar un Pago</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
		<br />
    <ion-row class="ion-justify-content-center">
			<ion-col>
				<ion-list>
					<ion-item>
						<ion-label>Monedero a Debitar</ion-label>
						<ion-select [(ngModel)]="monederoDebitar" okText="Aceptar" cancelText="Cancelar" name="monederoDebitar">
							<ion-select-option value="4567-CO">****-****-****-4567 - Corriente</ion-select-option>
							<ion-select-option value="4668-AH">****-****-****-4668 - Ahorro</ion-select-option>
						</ion-select>
					</ion-item>
				</ion-list>
				<br />
				<ion-item>
					<ion-label position="floating">Correo Electrónico Destinatario</ion-label>
					<ion-input 
						[(ngModel)]="emailDestinatario"
						type="email" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="email" 
						name="emailDestinatario" 
						placeholder="email@example.com" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<ion-item>
					<ion-label position="floating">Monto a Pagar</ion-label>
					<ion-input 
						[(ngModel)]="monto"
						type="number" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="decimal" 
						name="monto" 
						placeholder="Ingrese el Monto" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<br />
			</ion-col>
    </ion-row>
		<ion-row>
			<ion-col>
				<ion-button 
					color="primary" 
					[routerLink]="['/tabs/inicio']" 
					expand="block" 
					(click)="pagosService.validarCampos(this.monederoDebitar, this.emailDestinatario, this.monto)"
				>
					Enviar Pago
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button color="light" [routerLink]="['/tabs/inicio']" expand="block">Cancelar</ion-button>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
