<ion-content>
  <ion-grid>
    <br />
    <br />
    <ion-row class="ion-justify-content-center">
      <!-- Logo. -->
      <ion-img src="../../assets/icon/favicon.png" alt="Logo MoneyUCAB"></ion-img>
    </ion-row>
    <br />
    <br />
		<br />
    <ion-row class="ion-justify-content-center">
			<div>
				<ion-item>
					<ion-label position="floating">Usuario</ion-label>
					<ion-input 
						[(ngModel)]="usuario"
						type="text" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="text" 
						name="usuario" 
						placeholder="user1234" 
						required="true">
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Correo Electrónico</ion-label>
					<ion-input 
						[(ngModel)]="email"
						type="email" 
						autofocus="false" 
						enterkeyhint="next" 
						inputmode="email" 
						name="email" 
						placeholder="email@example.com" 
						required="true">
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Contraseña</ion-label>
					<ion-input 
						[(ngModel)]="password"
						clearInput 
						type="password" 
						enterkeyhint="send" 
						inputmode="password" 
						name="password" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<ion-item>
					<ion-label>¿Comercio?</ion-label>
					<ion-checkbox slot="start" color="primary" [(ngModel)]="boolComercio"></ion-checkbox>
				</ion-item>
				<br />
				<br />
				<br />
				<ion-button type="submit" color="primary" expand="block" (click)="loginService.validarCampos(this.usuario, this.email, this.password, this.boolComercio)">Iniciar Sesión</ion-button>
			</div>
    </ion-row>
    <br />
    <br />
		<ion-row class="ion-justify-content-center">
			<ion-button color="light" [routerLink]="['/recuperar-datos']">Olvidé Mis Datos</ion-button>
		</ion-row>
  </ion-grid>
</ion-content>