<ion-content>
	<ion-grid>
    <ion-row class="ion-justify-content-center">
			<ion-col>
				<!-- https://undraw.co/ -->
				<ion-img src="../../assets/svg/undraw_confirmed_81ex.svg" alt="SVG Pago Exitoso"></ion-img>
			</ion-col>
    </ion-row>
		<br />
		<ion-row class="ion-justify-content-center">
			<ion-col>
				<h3 class="ion-text-center">
					¡Pago Realizado Exitosamente!
				</h3>
			</ion-col>
		</ion-row>
		<br />
		<ion-row>
			<ion-col>
				<ion-button 
					color="primary" 
					[routerLink]="['/tabs/home']" 
					expand="block"
				>
					Entendido
				</ion-button>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
