<ion-content>
	<ion-grid>
    <ion-row class="ion-justify-content-center">
			<ion-col>
				<!-- https://undraw.co/ -->
				<ion-img src="../../assets/svg/undraw_cancel_u1it.svg" alt="SVG Pago Fallido"></ion-img>
			</ion-col>
    </ion-row>
		<br />
		<ion-row class="ion-justify-content-center">
			<ion-col>
			<h3 class="ion-text-center">Pago Fallido</h3>
				<p class="ion-text-center">
					Por favor, inténtelo nuevamente.
				</p>
			</ion-col>
		</ion-row>
		<br />
		<ion-row>
			<ion-col>
				<ion-button 
					color="primary" 
					[routerLink]="['/tabs/pagos']" 
					expand="block"
				>
					Entendido
				</ion-button>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
