<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>

          <ion-title>Recargar Saldo</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
      <ion-col>
        <ion-button expand="block" [routerLink]="['/recargartarjeta']">Tarjeta</ion-button>

      </ion-col>

      <ion-col>
        <ion-button expand="block" [routerLink]="['/recargar-cuenta-bancaria']">Cuenta Bancaria</ion-button>

      </ion-col>
    
</ion-grid>



</ion-content>
