<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/ajustes" text="Atrás"></ion-back-button>
		</ion-buttons>
		<ion-title>Dirección</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
		<br />
    <ion-row class="ion-justify-content-center">
			<ion-col>
				<ion-item>
					<ion-label position="floating">Nueva Dirección</ion-label>
					<ion-input 
						[(ngModel)]="nuevaDireccion"
						type="text" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="text" 
						name="nuevaDireccion" 
						placeholder="Dirección" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<br />
			</ion-col>
    </ion-row>
		<ion-row>
			<ion-col>
				<ion-button 
					color="primary" 
					[routerLink]="['/tabs/ajustes']" 
					expand="block" 
					(click)="this.obtenerRespuestaDireccionDeUsuarioModificado(this.nuevaDireccion)"
				>
					Cambiar Dirección
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button color="light" [routerLink]="['/tabs/ajustes']" expand="block">Cancelar</ion-button>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
