<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/ajustes" text="Atrás"></ion-back-button>
		</ion-buttons>
		<ion-title>Contraseña</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
		<br />
    <ion-row class="ion-justify-content-center">
			<ion-col>
				<ion-item>
					<ion-label position="floating">Contraseña Actual</ion-label>
					<ion-input 
						[(ngModel)]="passwordActual"
						type="password" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="password" 
						name="passwordActual" 
						placeholder="Contraseña Actual" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<ion-item>
					<ion-label position="floating">Nueva Contraseña</ion-label>
					<ion-input 
						[(ngModel)]="nuevoPassword"
						type="password" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="password" 
						name="nuevoPassword" 
						placeholder="Contraseña Nueva" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<ion-item>
					<ion-label position="floating">Repetir Nueva Contraseña</ion-label>
					<ion-input 
						[(ngModel)]="nuevoPasswordConfirmacion"
						type="password" 
						autofocus="true" 
						enterkeyhint="next" 
						inputmode="password" 
						name="nuevoPasswordConfirmacion" 
						placeholder="Repetir Contraseña Nueva" 
						required="true">
					</ion-input>
				</ion-item>
				<br />
				<br />
			</ion-col>
    </ion-row>
		<ion-row>
			<ion-col>
				<ion-button 
					color="primary" 
					[routerLink]="['/tabs/ajustes']" 
					expand="block" 
					(click)="datosService.validarCampos(this.nuevoPassword, this.nuevoPasswordConfirmacion, 'PASSWORD')"
				>
					Cambiar Contraseña
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button color="light" [routerLink]="['/tabs/ajustes']" expand="block">Cancelar</ion-button>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
