<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/operaciones" text="Atrás"></ion-back-button>
		</ion-buttons>
    <ion-title>Detalle de Operación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <br />
    <br />
		<ion-row class="ion-justify-content-center">
			<ion-col>
				<ion-list>
					<ion-item>
            <ion-label>ID</ion-label>
						<ion-label>11</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-label>Aprobada</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-label>01/01/21</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Monto</ion-label>
            <ion-label>500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Monedero Destino</ion-label>
            <ion-label>5</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Correo Destinatario</ion-label>
            <ion-label>buslelo@gmail.com</ion-label>
          </ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
  </ion-grid>
</ion-content>
