<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/consultar-operaciones"></ion-back-button>
		</ion-buttons>
    <ion-title>Deatalle de Operaciòn</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <br />
    <br />
		<ion-row class="ion-justify-content-center">
			<ion-col class="ion-justify-content-center">
				<ion-list>
					<ion-item>
            <ion-label position="stacked">Id de la operaciòn:</ion-label>   
           </ion-item>
          <ion-item>
            <ion-label>11</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Estado de la operaciòn:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Aprobada</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha de la operaciòn:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>01/01/21</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Monto de la operaciòn:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Monedero destino:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Correo del destinatario:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>buslelo@gmail.com</ion-label>
          </ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	
  </ion-grid>
</ion-content>
