<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
         <ion-title>Inicio</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-card>
    <ion-item [routerLink]="['/tabs/saldo']" class="ion-activated">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label>Consultar Saldo</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/saldo']" class="ion-activated">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>Recargar Saldo Monedero</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/pagos']" class="ion-activated">
      <ion-icon name="wallet-outline" slot="start"></ion-icon>
      <ion-label>Realizar Pago</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/consultar-operaciones']" class="ion-activated">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label>Consultar Operaciones</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/operaciones']" class="ion-activated">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Solicitar Reintegro Operación</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/ajustes']" class="ion-activated">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Ajustes a Perfil de Usuario</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
