<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
         <ion-title>Home</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
 
        <ion-item  button   >
           Consultar Saldo
         </ion-item>

         <ion-item  button  >
            Recargar Saldo Monedero
        </ion-item>
        <ion-item  button  >
          Realizar Pago
        </ion-item>
        <ion-item  button  >
          Consultar Operaciones
        </ion-item>
        <ion-item  button  >
          Opcioenes de Reintegro
        </ion-item>
        <ion-item  button >
          Ajuestes de Perfil Usuario
        </ion-item>
  </ion-list>

</ion-content>
