<ion-header>
	<ion-toolbar>
		<ion-title>Ajustes</ion-title>
	</ion-toolbar>
 </ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
					<ion-list-header>
						<ion-label>Mis Datos</ion-label>
					</ion-list-header>
					<ion-item button [routerLink]="['/cambiar-nombre-usuario']">
						<ion-label>Cambiar Nombre de Usuario</ion-label>
					</ion-item>
					<ion-item button [routerLink]="['/cambiar-password']">
						<ion-label>Cambiar Contraseña</ion-label>
					</ion-item>
					<ion-item button [routerLink]="['/cambiar-correo-electronico']">
						<ion-label>Cambiar Correo Electrónico</ion-label>
					</ion-item>
					<ion-list-header>
						<ion-label>Tema</ion-label>
					</ion-list-header>
					<ion-item>
						<ion-label>Modo Oscuro</ion-label>
						<ion-toggle checked slot="end"></ion-toggle>
					</ion-item>
					<ion-list-header>
						<ion-label>Misceláneos</ion-label>
					</ion-list-header>
					<ion-item button (click)="this.alertCerrarSesion()">
						<ion-label>Cerrar Sesión</ion-label>
					</ion-item>
				</ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
